.alert-primer-inicio {
    background: #fffdf6;
    border: 1px solid #f1c40f;
    max-width: 820px;

    .alert-icon {
        font-size: 1.25rem;
    }

    .alert-text {
        font-size: 0.95rem;
        color: #ffc107;
    }
}