@use "variables" as *;
@use "mixins" as *;

.recibos-detalle-container {
    max-width: 87.5rem;
    margin: 0 auto;
    padding: 1.25rem;
}

.content-wrapper {
    display: flex;
    gap: 1.875rem;
    align-items: flex-start;
}

.recibos-table-container {
    flex: 1;
}

.modal-dialog.modal-xl {
    max-width: 1400px;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column-reverse;
    }

    .cooperativista-info {
        width: 100%;
    }

    .recibos-table-container {
        width: 100%;
    }
}

.cooperativista-info {
    flex: 0 0 20rem;
    background: $bg-color-tertiary;
    padding: 1.125rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.375rem 1.125rem rgba(27, 73, 101, 0.06);
}

html[data-theme='dark'] .cooperativista-info,
body.dark .cooperativista-info {
    background: $bg-color-secondary-dark;
    color: $text-color-primary-dark;
    box-shadow: 0 0.375rem 1.125rem rgba(0, 0, 0, 0.2);
}


.cooperativista-info .form-group {
    margin-bottom: 0.75rem;
    display: flex;
    gap: 0.625rem;
    align-items: center;
}

html[data-theme='dark'] .cooperativista-info label,
body.dark .cooperativista-info label {
    color: $text-color-primary-dark;
}

.cooperativista-info label {
    min-width: 6.25rem;
    font-weight: 600;
    color: $text-color-primary;
}

.cooperativista-info input {
    flex: 1;
    padding: 0.5rem 0.625rem;
    border-radius: 0.375rem;
    border: 0.0625rem solid #e6eef6;
    background: $bg-color-label;
}

@media (max-width: 768px) {
    .cooperativista-info {
        order: 2;
    }

    .recibos-table-container {
        order: 1;
    }
}

.pdf-container {
    height: 600px;
    border: 1px solid $text-color-primary-dark;
}

#pdfViewer {
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 768px) {
    .pdf-container {
        height: 400px;
    }

    .modal-dialog.modal-xl {
        max-width: 95%;
    }
}