@use "variables" as *;
@use "mixins" as *;

.form-container {
    @include container-light;

    html[data-bs-theme="dark"] &,
    body.dark & {
        background-color: $bg-color-secondary-dark;
    }
}

.form-control {
    background-color: $bg-color-tertiary;
    border: 1px solid $bg-color-secondary;
    padding: 0.75rem;
    border-radius: 0.375rem;

    &:disabled {
        background-color: $bg-color-tertiary;
        opacity: 1;
    }

    html[data-bs-theme="dark"] &,
    body.dark & {
        background-color: $bg-color-label-dark;
        border: 1px solid #444;
        color: $text-color-primary-dark;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: none;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bg-color-secondary;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 90%;
    text-align: center;

    html[data-bs-theme="dark"] &,
    body.dark & {
        background-color: $bg-color-primary-dark;
        color: $text-color-primary-dark;
    }
}

.modal-title {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: $text-color-primary;

    html[data-bs-theme="dark"] &,
    body.dark & {
        color: $text-color-primary-dark;
    }
}